<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>462406650419-eovoiohjk9t87o8b4v854qlic3lrfi6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.462406650419-eovoiohjk9t87o8b4v854qlic3lrfi6f</string>
	<key>API_KEY</key>
	<string>AIzaSyAb4nLrXQSkv6mApVUCr2avT1ecJdrVN8k</string>
	<key>GCM_SENDER_ID</key>
	<string>462406650419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stint.stint</string>
	<key>PROJECT_ID</key>
	<string>stint-ltd-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>stint-ltd-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:462406650419:ios:7885edf7f458b0f1</string>
	<key>DATABASE_URL</key>
	<string>https://stint-ltd-beta.firebaseio.com</string>
</dict>
</plist>